.form-alert {
    font-size: 0.75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-top:.5rem;
    margin-bottom: 0;
}

.margin-bottom {
    margin-bottom:.5rem;
}

.alert-section {
    margin-top: .75rem;
    font-size: .9rem;
}